.App {
  background-color: #F0ECDE;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #3D556E;
  height: 100vh; /* A altura ocupa a tela inteira */
  width: 100vw; /* A largura ocupa a tela inteira */
  margin: 0; /* Remove a margem padrão do corpo do documento */
  overflow: hidden; /* Evita que qualquer conteúdo excedente seja visível */
  transition: all 0.4s ease-in-out;
  font-size: 1.25em;
}


.App.escuro {
  background-color: #2D4157; /* Define o estilo do tema escuro */
  color: #fff; /* Define a cor do texto para o tema escuro */
  transition: all 0.4s ease-in-out;
}


.h1 {
  font-size: 1.8em;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span-claro {
  font-size: 1.87em;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.span-escuro {
  font-size: 1.56em;
  margin-top: 0.30em;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.span-claro:hover {
  color: orange;
 
}

.span-escuro:hover {
  color: orange;
}

.link {
  color: inherit;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {

  .App {
    padding: 1em;
    height: 100%;
  }

  .presentation {
    text-align: justify; 
  }
  
}
